<!doctype html>
<html ng-app="enavi">
  <head lang="en">
    <meta charset="utf-8">
    <title>Enavi</title>
    <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/ng-grid-2.0.5.min.js"></script>
    <script src="js/enavi.js"></script>
  </head>

  <body ng-controller="EnaviCtrl">
    <!-- search bar -->
    <input type="text" ng-model="search">

    <!-- the focal -->
    <div class="focal">
      <button type="button" ng-click="up()">up</button>
      {{focal}}
    </div>


    <!-- commdands -->
    <div class="commands">
      {{commands}}
    </div>

    <!-- detail grid -->
    <div class="gridStyle" ng-grid="grid"></div>


    <!-- related information when selected -->
    <div class="selectedItems">
      <div ng-repeat="entity in selected">
        <div ng-switch="entity.type">
          <div ng-switch-when="Move">
            {{entity.ContainerNo}}
            <ul ng-repeat="segment in entity.MoveSegments">
              <li>{{segment}}</li>
            </ul>
          </div>
          <div ng-switch-default>
            {{entity.related}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
